.card-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin: 10rem auto; 
  border-radius: 15px;
  overflow: hidden;
}

.header-img {width: 100%;}

h2 {
  margin-top: 1rem;
}

p {
  width: 75%;
  margin: 0.5rem 0;
}

.card-container > a {
  &:nth-of-type(1) {
    margin: 1rem 0;
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &:nth-of-type(2) {
    margin: 1.5rem;
  }
}

.box-container {
  margin: 0.5rem 0;
  width: 90%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8em;
  border-radius: 1rem;
  .music-img {padding-right: 1em;}
  h4 {padding-right: 3em;}
}