.card-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-img {width: 100%;}

.box-container {
  display: inline-flex;
  align-items: center;
}