*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: $primary-color-100;
}

.attribution {
  font-size: 11px; text-align: center;
  a {color: hsl(228, 45%, 44%);}
}